body {
    font-family: Roboto;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    margin-top: -20px;
}

.left-links {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 28px;
}

.right-links {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 70px;
}

.hero-whole {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    padding-top: 30px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-right {
    display:flex;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up {
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 14px;
    width: 80px;
    padding: 8px 14px;
}