body {
    font-family: Roboto;
    margin: 0;
}

img {
    width: auto; height: auto;max-width: 150px;max-height: 1000px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    margin-top: -20px;
}

.left-links {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 28px;
}

.right-links {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 70px;
}

.hero-whole {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    padding-top: 30px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-right {
    display:flex;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

p {
    color: #f9faf8;
    font-size: 18px;
}

.sign-up, .sign-up2 {
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 14px;
    width: 80px;
    padding: 8px 14px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bots {
    display: flex; 
    justify-content: center;
    gap: 40px;
    text-align: center;
    color: #1f2937;
    padding-bottom: 70px;
}

.container {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 80px;
    margin-bottom: 80px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.honor {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 280px;
    padding-top: 10px;
}

.cta {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    width: 700px;
}

.sign-up2 {
    border-color: #f9faf8;
    border: 2px solid;
    padding: 8px;
}

.left-cta {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.content2 {
    margin-top: -40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
    margin-top: 80px;
}